@import url("https://fonts.googleapis.com/css2?family=Mali:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: "Mali", sans-serif !important;
  background-image: linear-gradient(45deg, #a68bff, #dce2f0) !important;
  padding: 10px;
}

:root {
  --border-radius: 20px;

  --primary-light: #c2d6ff;
  --text-light: white;

  --primary-dark: #a5c3ff;
  --text-dark: black;
}

::-webkit-scrollbar {
  display: none;
}

.item-user-chat {
  border-left: 5px solid transparent;
  transition: background-color 0.3s ease, border-radius 0.3s ease,
    border-left 0.3s ease;
}

.item-user-chat:hover,
.item-user-chat.selected {
  background-color: #e9ecf5 !important;
}

.item-user-chat.selected {
  border-left: 5px solid #ea67a4;
}

.icon-hover {
  transition: background-color 0.3s ease;
}

.icon-hover.selected,
.icon-hover:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}

.time-message {
  width: max-content;
  background-color: var(--primary-light);
  color: var(--text-light);
  border-radius: var(--border-radius);
  padding: 0px 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.control-message {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.control-message.selected,
.item-message:hover .control-message,
.message:hover .time-message {
  opacity: 1;
  visibility: visible;
}

.control-message aside > ul > li:last-child {
  display: none;
}
.pin-icon {
  opacity: 0;
  transform: translate(-400%, -200%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.pin-icon.selected {
  opacity: 1;
  transform: translate(-40%, -40%);
}

.item-info-chat > div > div,
.icon-info-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.6rem;
  height: 2.6rem;
  font-size: 1.2rem;
  border-radius: 100%;
}

.item-info-chat > div {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.icon-info-chat:hover,
.item-info-chat > div:hover {
  opacity: 0.8;
}

.item-info-chat > div > div {
  margin-right: 8px;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 9999;
  overflow: hidden;
}

.loading-bar {
  height: 100%;
  background: rgb(234, 103, 164);
  transition: width 0.4s ease;
}

.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.notification {
  display: flex;
  align-items: center;
  background-color: white;
  color: var(--text-dark);
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  animation: slide-in 0.3s forwards;
}

.notification svg {
  font-size: 25px;
  margin-right: 10px;
}

.notification.success svg {
  color: #28a745;
}

.notification.error svg {
  color: #dc3545;
}

.notification.info svg {
  color: #17a2b8;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
